

.CardsMain {
    flex:9;
    background-image: linear-gradient( rgb(119,136,153),rgb(119,136,153),rgb(119,136,153),rgb(119,136,153),rgb(119,136,153),rgb(119,136,153),rgb(180, 203, 224));

}
.card{
    
    width: 16rem;
    height: 95%;
}

.card:hover{
    box-shadow: 5px 10px 1px rgba(0, 0, 0, 0.637)!important;
}

.card-body{
    padding: 3rem 0 !important;
}

.card-text{
    font-size: 0.9;
    padding: 0.4rem 1.9rem;
}

.container-fluid .row{
    padding-top: 2rem;
    margin-bottom: 3rem;
}
.card i {
    font-size:40px;
    color:red;
    padding-right: 2px;
    margin-right: 3px;
    justify-content: space-between;
}
.card button{
    font-size:18px;
}
.card button i{
    font-size:18px;
    color: rgb(253, 133, 133);
}
.cardimg img{
    height: 2rem;
}
.card a{
    text-decoration: none;
    font-size: 22px;
    color: rgb(38, 38, 168);
}

.overflow img{
    padding-top: 7%;
    width: 85%;
}