    .btn-custom {
        border: 1px solid black;
        height:30px;
        margin: 1% 12%;
        transition: ease 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-custom > img {
        margin-left: 3%;
        width: 25px;
        flex: 1;
        opacity: 0%;
        transition: opacity 0.5s;
    }
    .loading {
        opacity: 100% !important
    }
    .btn-custom > span {
        margin-right: 15%;
        flex:9;
        text-align: center;
    }
    .btn-custom.blue {
        border-color: lightseagreen;
    }
    .btn-custom.blue:hover {
        background-color: lightseagreen;
        border-color: lightseagreen;
        color: white;
        cursor: pointer;
    }
    .btn-custom.orange {
        border-color: orangered;
    }
    .btn-custom.orange:hover {
        background-color: orange;
        border-color: orangered;
        color: white;
        cursor: pointer;
    }
   