.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  width: 100%;
  height: 4em;
  background-image: linear-gradient(to bottom right, rgb(230, 235, 255), rgb(225, 231, 255));
  border-radius: 5em;
 
}
.navbar h1 img{
  display: flex;
  height: 1.15em;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 1rem;
}
.navbar h1{
  display: flex;
  color: rgb(0, 174, 255);
 
}
.navbar a{
  display: flex;
}

.navbar a img{
  display: flex;
  height: 3rem;
  width: 4rem;
  margin-bottom: 1rem;
  margin-left:950px;
}

.navbar button{
  margin-right: 10px;
  border-radius: 10px;
}